<h1>_______BIENVENIDO______</h1>
<h3>Los secretos cambian ...</h3>
<br>
<p>Inserte el ID del secreto a modificar: </p>
<input type="text" [(ngModel)]="id" required>
<br>
<br>
<p>Inserte la contraseña asociada a su secreto: </p>
<input type="password" [(ngModel)]="password" required>
<br>
<hr>
<p>Inserte el nombre del registro: </p>
<input type="text" [(ngModel)]="name" required>
<br>
<p>Inserte un numero: </p>
<input type="text" [(ngModel)]="numero" required>
<br>
<p>Escriba su secreto: </p>
<input type="text" [(ngModel)]="secret" required>
<br>
<div class="container">
    <button type="button" (click)="doUpdate()" onclick="this.disabled = true">Actualizar</button>
</div>
<div [hidden]="!updated()" class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{result.response}}</td>
            </tr>
        </tbody>
    </table>
</div>
